
* {
    box-sizing: border-box;
}


body{
	margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background-color: rgb(30, 147, 182);
    display: flex;
 justify-content: center;
margin-top: 200px;
} 

.wrapper{
    padding:20px;
    background-color: rgb(155, 156, 160);
    width: 50%;
    height: auto;
}


